@charset "utf-8";

/*************************
   リセット
 *************************/
html,body,header,screen,div,h1,h2,h3,h4,h5,p,img {
     padding: 0;
     margin: 0;
}


/*************************
  大枠
 *************************/
* {
  box-sizing: border-box;
}

html {
  min-width: 1024px;
}

.screen {
  max-width: 1000px;
  margin: 0 auto;
}

/*************************
  共通部品
 *************************/

 /*ヘッダー
 *********************/
header {
  position: relative;
  height: 80px;
  padding-top: 9px;
  background-color: #dc280a;
}
header .header_logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
header .header_logo img {
  width: 121px;
  height: 27px;
 }
header .search_area {
  text-align: center;
}
header .search_area input[type=text] {
  width: 600px;
  height: 30px;
  padding: 0 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-image: url(../images/search_icon.png);
  background-repeat: no-repeat;
  background-position: 570px center;
}
header .trend_container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 30px;
  background-color: #333333;
  color: #fff;
  line-height: 1.9;
}
header .trend_container .trend {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
header .trend_container .trend span {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*ボタン
 *********************/
.button_set button {
  margin-right: 10px;
}
.button_set button:last-child {
  margin-right: 0;
}
button {
  width: 100px;
  height: 30px;
  padding: 5px;
  border-radius: 0;
  border: none;
  cursor: pointer;
}
button:active {
  opacity: 0.7;
}
button.execution {
  background-color: #2e74ff;
  color: #fff;
}
button.cancel {
  background-color: #efefef;
  color: #4d4d4d;
}
.video_create {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 160px;
  height: 38px;
  border: solid 2px #fff;
  background-color: transparent;
  border-radius: 7px;
  font-size: 14px;
  color: #fff;
}
.video_create:active {
  background-color: #d7604d;
}

/*モーダル
 *********************/
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 51%;
  width: 1000px;
  height: 500px;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  color: #4d4d4d;
  transform: translate(-50%, -50%);
  overflow: auto;
}
.modal_title {
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
}

/* 小さいモーダル */
.float_modal {
  position: absolute;
  top: 50%;
  left: 51%;
  padding: 10px 25px;
  background-color: rgba(103,103,103,0.9);
  border-radius: 10px;
  color: #fff;
}

 /*************************
  画面固有スタイル
 *************************/


 /*検索画面
 *********************/
.top .video_tile {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.top .video_tile .video {
  position: relative;
  width: 320px;
  height: 180px;
  margin-right: 20px;
  margin-bottom: 30px;
  background-color: #e2e2e2;
  cursor: pointer;
}
.top .video_tile .video:nth-of-type(3n) {
  margin-right: 0;
}
.top .video_tile .video .name_area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
}
.top .video_tile .video .name_area .name {
  padding: 0 5px;
  overflow: hidden;
}
.top .video_tile .video .name_area .name span {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: normal;
  line-height: 3;
  overflow: hidden;
}

 /*動画ホバー時のモーダル
 *********************/
.video_hover_detail {
  width: 440px;
  min-height: 250px;
  display: none;
  margin: 0 0 0 -220px;
  transform: translateY(-50%);
  overflow: hidden;
}
.video_hover_detail::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  content: "";
  z-index: 1500;
}
.video_hover_detail .video_thumnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.video_hover_detail .video_name {
  position: relative;
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: normal;
  z-index: 2000;
}
.video_hover_detail .video_name span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.video_hover_detail .tag_area {
  position: relative;
  margin-bottom: 10px;
  z-index: 2000;
}
.video_hover_detail .tag_area .tag {
  margin-right: 10px;
  color: #1799ff;
}
.video_hover_detail .tag_area .tag::before {
  margin-right: 1px;
  content: "#";
}
.video_hover_detail .description {
  position: relative;
  height: 146px;
  z-index: 2000;
  overflow-y: auto;
}
.video_hover_detail .description span {
  text-overflow: ellipsis;
  word-break: break-all;
}

 /*動画再生モーダル
 *********************/
.modal.video_pray .modal_body {
   display: flex;
   justify-content: space-between;
}
.modal.video_pray .praying_container {
  width: 660px;
}
.modal.video_pray .praying_container video {
  width: 100%;
  height: 370px;
  background-color: gray;
}
.modal.video_pray .praying_container .tag_container {
  margin-bottom: 25px;
}
.modal.video_pray .praying_container .tag_container .tag {
  margin-right: 0.9em;
  color: #1799ff;
  font-size: 14px;
  line-height: 1;
}
.modal.video_pray .praying_container .video_discription {
  margin-bottom: 40px;
  font-size: 14px;
}
.modal.video_pray .praying_container .comment_input {
  width: 100%;
  padding: 20px 5px;
  border-top: solid 2px #e5e5e5;
  border-right: none;
  border-left: none;
  border-bottom: solid 2px #e5e5e5;
}
.modal.video_pray .praying_container .button_set {
  margin: 10px 0 60px;
  text-align: right;
}
.modal.video_pray .praying_container .comment {
  margin-bottom: 10px;
  line-height: 1;
}
.modal.video_pray .praying_container .comment .comment_text {
  font-size: 12px;
  line-height: 1.2;
}
.modal.video_pray .praying_container .comment .comment_date {
  font-size: 11px;
  color: #b3b3b3;
}
.modal.video_pray .relation_container .relation_video {
  position: relative;
  width: 230px;
  height: 130px;
  margin-bottom: 13px;
  background-color: #c8c8c8;
}
.modal.video_pray .relation_container .relation_video .video_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0 0 0 5px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  line-height: 2.6;
}
